@import "globals/globals";

#main-content {
    padding-bottom: get_size("800");
}

.works {
    padding-top: get_size("400");

    h1 {
        font-size: 165%;
        font-weight: 800;
        margin: get_size("500") 0;
    }

    &__field + &__field {
        padding-top: get_size("300");
    }

    &__entry {
        padding-left: get_size("400");

        &--title {
            max-width: 50ch;
            font-size: 125%;
            font-weight: 700;
            @include set-ff-serif;
        }

        &--authors {
            font-size: 85%;
            font-style: italic;
            padding-left: get_size("300");
        }

        .paper__comments, .writing__comments {
            margin: get_size("400") 0;
        }
    }
    &__entry + &__entry {
        padding-top: get_size("300");
    }
}
