.site-head {
  padding: get-size("400") 0;
  background-color: get-color("light-shade");

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    flex-shrink: 0;
    margin-inline-end: get-size("600"); // Prevents nav bunching up to the logo

    // Optical adjustment to account for the offset the sunken 3s create
    //transform: translateY(0.25rem);

    @include set-ff-serif;
    font-size: get-size("700");
    font-weight: 600;
  }

  &__nav {
    padding: get-size("300") 0;
  }
}
