{% extends "layouts/base.njk" %}
{% block content %}
    <div class="wrapper">
        <article class="intro">
            <div class="[ intro__media ] [ radius dot-shadow ]">
                <img class="[ intro__image ] [ radius ]" src="{{ intro.image }}" alt="{{ intro.imageAlt }}"/>
            </div>
            <div class="[ intro__blurb ] [ radius frame ]">
                <p class="[ intro__blurb--text ] [ weight-normal text-400 md:text-600 ]">
                    {{ intro.summary }}
                </p>
            </div>
            <div class="[ intro__content ] [ flow ]">
                <div class="intro__content--text">
                    {{ content | safe}}
                </div>
            </div>
        </article>
    </div>
{% endblock %}