$primary-sans-serif: "Poppins";
$primary-serif: "Yuji Syuku";

@mixin set-ff-sans($target: $primary-sans-serif) {
    font-family: $primary-sans-serif, sans-serif;
    font-weight: 200;
}

@mixin set-ff-serif($target: $primary-serif) {
    font-family: $primary-serif, serif;
}
