<footer role="contentinfo" class="site-foot">
    <div class="wrapper">
        <p>By visiting this website you agree to surrender your firstborn to Patrick O'Melveny.
                    </p>
        <div class="[ axioms ] [ float ]">
            <div class="axioms__card">Mathematical potential is distributed equally among different groups, irrespective of geographic, demographic, and economic boundaries.</div>
            <div class="axioms__card">Everyone can have joyful, meaningful, and empowering mathematical experiences.</div>
            <div class="axioms__card">Mathematics is a powerful, malleable tool that can be shaped and used differently by various communities to serve their needs.</div>
            <div class="axioms__card">Every student deserves to be treated with dignity and respect.</div>
        </div>
    </div>
</footer>