<footer role="contentinfo" class="site-foot">
    <div class="wrapper">
        <p>I believe in Federico Ardila-Mantilla's axioms from <a href="https://www.ams.org/publications/journals/notices/201610/rnoti-p1164.pdf">Todos Cuentan</a>:
                    </p>
        <div class="[ axioms ]">
            <div class="[ axioms__card ] [ radius ]">
                <p>Mathematical potential is distributed equally among different groups, irrespective of geographic, demographic, and economic boundaries.</p>
            </div>
            <div class="[ axioms__card ] [ radius ]">
                <p>Everyone can have joyful, meaningful, and empowering mathematical experiences.</p>
            </div>
            <div class="[ axioms__card ] [ radius ]">
                <p>Mathematics is a powerful, malleable tool that can be shaped and used differently by various communities to serve their needs.</p>
            </div>
            <div class="[ axioms__card ] [ radius ]">
                <p>Every student deserves to be treated with dignity and respect.</p>
            </div>
        </div>
    </div>
</footer>