<a class="[ skip-link ] [ button ]" href="#main-content">Skip to content</a>
<header role="banner" class="site-head">
    <div class="wrapper">
        <div class="site-head__inner">
            <div class="[ site-head__title ] [ font-serif ]">
                <p> Patrick O'Melveny </p>
            </div>
            <nav class="[ nav ] [ site-head__nav ] [ font-serif ]" aria-label="Primary">
                <ul class="nav__list">
                    {% for item in navigation.items %}
                        <li>
                            <a href="{{ item.url }}" {{ dataHelper.getLinkActiveState(item.url, page.url) | safe }}>{{ item.text }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>
</header>